{
  auto_https disable_redirects
}

(api_proxy) {
  encode gzip
  reverse_proxy backend:8000
}

http://api.aeonichealthsystems.com {
  import api_proxy
}

(nexus_proxy) {
  encode gzip
  reverse_proxy nexus:80
}

:443 {
  tls /etc/caddy/certs/cloudflare-origin.pem /etc/caddy/certs/cloudflare-origin.key

  @api host api.aeonichealthsystems.com
  handle @api {
    import api_proxy
  }

  handle {
    import nexus_proxy
  }
}

http://nexus.aeonichealthsystems.com, :80 {
  import nexus_proxy
}
