APP_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://nexus.nathan.local.aeonichealthsystems.com
AEONIC_DEV_DOMAIN_ALIASES=nexus.nathan.local.aeonichealthsystems.com=app.viper.guru
